/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Bebas";
    src: url("../public/bebas.woff2");
   
  }


.bg-pattern {
    background-color: #000000;
    background-image: url('./assets/doodle.png');
    background-attachment: fixed;
    background-position-x: initial;
   background-position-y: initial;
   //background-repeat-x: initial;
    //background-repeat-y: initial;
    //background-attachment: initial;
    //background-origin: initial;
    //background-clip: initial;
    
   
}

.rainbow {
    background: linear-gradient( 87.22deg, #ff00c7 5.62%, #00ffd1 50.96%, #fff500 98.22% );
    background-image: linear-gradient(87.22deg, rgb(255, 0, 199) 5.62%, rgb(0, 255, 209) 50.96%, rgb(255, 245, 0) 98.22%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

/*
.slider {
    height: 300px;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: 22px auto auto
}

.slide-track {
    display: flex;
    width: 4500px;
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite
}

.slide-track:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0s);
        transform: translateX(0s)
    }

    to {
        -webkit-transform: translateX(-2250px);
        transform: translateX(-2250px)
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0s);
        transform: translateX(0s)
    }

    to {
        -webkit-transform: translateX(-2250px);
        transform: translateX(-2250px)
    }
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
    -webkit-perspective: 150px;
    perspective: 150px
}

.sli {
    width: 100%;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
    border-radius: 10%
}

img:hover {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}

.slider:after,.slider:before {
    //background: linear-gradient(90deg,#1b1b1b 0,rgba(226,225,225,0));
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2
}

.slider:before {
    left: 0;
    top: 0
}

.slider:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
    top: 0
}
*/